
.idea
server/.idea
client/.idea

#.env
#server/.env
#client/.env


# dependencies
/node_modules
/.pnp
.pnp.js
server/node_modules
server/.pnp
server/.pnp.js
client/node_modules
client/.pnp
client/.pnp.js


# testing
/coverage
server/coverage
client/coverage


# production
/build
server/build
client/build

